.text-decorator-none{
    text-decoration:none;




}

.texto{
    font-weight: bold!important;

}

.img{
    background-image:url(../../assets/img/coruja.jpg);
    background-repeat:no-repeat;
    width:100vh;
    min-height:100vh;
    background-size:'cover';
    background-position:center


}