.bocUm{
    background-color: #3F51B5;
    height: 120px
}

.icon{
    font-size: 60;
    color: white
}

.bocDois{
    background-color: #303F9F; 
    height: 60px
}

.subtitulo{
    color: white;

}
a{
    text-decoration: none;
}